<div class="page-start">
<a class="back-arrow" href="/users/<%= @user.id %>">Back</a>
<img src="<%= @user.photo %>">
<h1><%= @user.name %></h1>
<h2>Number of posts: <%= @user.posts.length %>
<% @posts.each do |post| %>
<div class="post">
<a href="posts/<%= post.id %>">Post #<%= post.id %></a>
<p><%= post.title %></p>
<p><%= post.text %></p>
</div>
<h4>Comments: <%= post.comments.length %>, Likes: <%= post.likes.length %></h4>
<% post.find_comments.includes(:author).each do |comment| %>
<p><%= comment.author.name %>: <%= comment.text %></p>
<%end%>


<% end %>
</div>