<h3>Post #<%= @post.id %> by <%= @post.author.name %></h3>
<p>Comments:<%= @post.comments.length %></p>
<p>Likes:<%= @post.likes.length %></p>
<p><%= @post.title %></p>
<p><%= @post.text %></p>
<% @comments.each do |comment| %>
<p><%= comment.text %></p>
<%end%>
