<div>
<a href="posts/<%= @post.id %>">Post #<%= @post.id %></a>
<p><%= @post.title %></p>
<p><%= @post.text %></p>
<p>Comments:<%= @post.comments_counter %></p>
<p>Likes:<%= @post.likes_counter %></p>
</div>
